<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Pizzas</title>
</head>
<body>
  <h1>Cadastre uma pizza</h1>
  <form action="/pizzas/cadastrar" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">

    <label for="preco">Preço</label>
    <input type="text" name="preco" id="preco">

    <label for="foto">Imagem</label>
    <input type="file" name="foto" id="foto">
  </form>
</body>
</html>